services:
  flux:
    build: ..\flux-repo
    container_name: flux-web
    depends_on:
      sdcard-mount:
        condition: service_healthy
    ports:
      - "3100:3000"
    volumes:
      - /mnt/sdcard/flux/data:/app/packages/data:rw
      - /mnt/sdcard/flux/home:/home/flux:rw
    environment:
      - FLUX_DATA=/app/packages/data/data.sqlite
    networks:
      - proxy-network
    restart: unless-stopped

networks:
  proxy-network:
    external: true
