services:
  wg-easy:
    environment:
      - INSECURE=true
      - PORT=51821
      - HOST=0.0.0.0
      - DISABLE_IPV6=true

    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    networks:
      wg:
        ipv4_address: 10.42.42.42
      proxy-network:
    volumes:
      - /mnt/sdcard/wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51830:51830/udp"
      - "51831:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      # - NET_RAW # ⚠️ Uncomment if using Podman
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

networks:
  wg:
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
  proxy-network:
    external: true